/* stylelint-disable comment-empty-line-before */
/* stylelint-disable rule-empty-line-before */
/* stylelint-disable at-rule-no-unknown */
/* eslint-disable */
/* ./styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		@apply text-lg;
	}
}

@layer components {
	.social-icons {
		@apply transition duration-500 ease-in-out text-gray-900 dark:text-gray-100 hover:text-indigo-400 dark:hover:text-gray-600 transform hover:-translate-y-1 hover:scale-110;
	}
}

@layer utilities {
	.text-shadow {
		text-shadow: 2px 2px 4px #808080;
	}
	.text-shadow-md {
		text-shadow: 4px 4px 8px #808080;
	}
	.text-shadow-lg {
		text-shadow: 15px 15px 30px #808080;
	}
	.text-shadow-none {
		text-shadow: none;
	}
	.text-shadow-wht {
		text-shadow: 2px 2px 4px white;
	}
	.text-shadow-wht-md {
		text-shadow: 4px 4px 8px white;
	}
	.text-shadow-wht-lg {
		text-shadow: 15px 15px 30px white;
	}
}
